body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  height: 60px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.container h1 {
  font-size: 30px;
  font-weight: 700;
}

button {
  border: none;
  background-color: transparent;
  color: #828282;
  font-size: 16px;
  font-family: "Inter";
}

.container button:hover {
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
}
.botaoPrincipal {
  font-weight: bold;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagina {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
}

.cardsProdutos {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid #f5f5f5;
  margin: 0 3% 2% 0;
}

.cardsProdutos:hover {
  border: 2px solid #2e245e;
}

.cardsProdutos-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.cardsProdutos-foto img {
  width: 100px;
  height: 125px;
  margin: 5px;
}

.cardsProdutos-info {
  padding: 20px 15px;
}

#cardsProdutos-categoria {
  padding: 5px;
  font-size: 12px;
  color: white;
  background-color: #2e245e;
  display: inline;
}

.cardsProdutos-info h2 {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

.cardsProdutos-info small {
  font-size: 12px;
  color: #828282;
}

.cardsProdutos-info p {
  font-size: 12px;
  color: #2e245e;
  font-weight: 600;
}
.cardsProdutos-info button {
  font-size: 14px;
  font-weight: 500;
  padding-left: 0;
}

.cardsProdutos-info button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #6b54de;
}

.lateral {
  min-width: 320px;
}

.pesquisa {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pesquisa input {
  background-color: #f5f5f5;
  width: 210px;
  height: 48px;
  border: none;
  padding-left: 14px;
}

::placeholder {
  font-size: 14px;
  color: #828282;
}

.pesquisa button {
  color: #ffffff;
  font-weight: 500;
  background-color: #6b54de;
  width: 96px;
  height: 50px;
}

.carrinho-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #6b54de;
}
.titulo {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}

.itensNoCarrinho {
  background-color: #f5f5f5;
  padding: 20px 20px 10px 20px;
}

.card {
  display: flex;
  height: 80px;
  margin-bottom: 20px;
}

.card-foto {
  height: 100%;
}

.card-infoProduto {
  width: 100%;
  font-size: 12px;
  padding-left: 15px;
}

.card-infoProduto h3 {
  margin: 0;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

.card-infoProduto p {
  margin: 10px 0;
  color: #2e245e;
  font-weight: 600;
}

.card-infoProduto button {
  margin: 0;
  color: #828282;
  padding: 0;
  font-size: 12px;
}

.card-infoProduto button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #f83838;
}

.total {
  padding: 30px 17px 0 17px;
  background-color: #333333;
  max-width: 100%;
}
.total-linha {
  display: flex;
  justify-content: space-between;
  color: #828282;
  margin: 0;
}

.total-linha p {
  margin: 0 0 30px 0;
}

.total-linha-branco {
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 30px 0;
}
